$def with (contacto)
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Contacto</title>
</head>
<body>

    <h1>¿Seguridad?</h1>
    <p>¿Está seguro de que desea borrar este contacto?</p>

    <form method="POST" action="/borrar">
        
        <label for="nombre_confirm">Ingrese Nombre:</label>
        <input type="text" id="nombre_confirm" name="nombre_confirm" value="Ejemplo Nombre" readonly><br><br><input type="text" id="nombre_confirm" name="nombre_confirm" value="$contacto.nombre" readonly>

        <label for="id_confirm">ID:</label>
        <input type="text" id="id_confirm" name="id_confirm" value="$contacto.id" readonly>

        <a href="/lista">
            <button type="button">Regresar</button>
        </a>
        <button type="submit">Continuar</button>
    </form>

</body>
</html>